@{
    ViewData["Title"] = "Principal";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-info fw-bold">Bienvenido</h1>
            <h2 class="text-center text-primary fw-bold">Aplicacion con Net Core 8 y EntityFrameWork</h2>
        </div>
    </div>
</div>