@model Ecommerce.Models.ViewModels.CompanyViewModel
@{
    ViewData["Title"] = "Administracion de Compañias o Empresas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<hr class="text-danger" />
<div class="container">
    @if (Model.Company!.IdCompany == 0)
    {
        <partial name="Partials/_CreateCompany" model="Model" />
    }
    else
    {
        <partial name="Partials/_UpdateCompany" model="Model" />
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

