@{
    ViewData["Title"] = "Administracion de Almacenes";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info fw-bold">@ViewData["Title"]</h2>
        </div>
        <div class="card border-primary">
            <div class="row">
                <div class="col-12">
                    <p class="card-text text-center">Esto es una card de bootstrap</p>
                </div>
                <hr class="text-danger" />
            </div>
        </div>
    </div>
</div>
