@model UserModel

@{
    ViewData["Title"] = "Administracion de Usuarios";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<hr class="text-danger" />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="text-center text-primary">Lista de Almacenes</h3>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="d-grid gap-2 col-8 mx-auto">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary"><i class="bi bi-person-fill-add fs-5"></i> Agregar Usuario</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="border p-4 rounded bg-light">
            <table id="tblUsers" class="table table-responsive table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Email/UserName</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Telefono</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/UsersFunctions.js"></script>
}
