@model CategoryModel

@{
    ViewData["Subtitle"] = "Crear Nueva Categoria";
}

<div class="container">
    <div class="row">
        <div class="col-sm col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    @ViewData["Subtitle"]
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input type="text" id="Name" asp-for="Name" class="form-control" placeholder="Nombre de Categoria" />
                            <label for="Name">Nombre de la Categoria</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" id="Descripcion" asp-for="Description" class="form-control" placeholder="Descripcion de Categoria" />
                            <label for="Descripcion">Descripcion Categoria</label>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch">
                                <input asp-for="Estate" class="form-check-input" type="checkbox" id="Estate">
                                <label class="form-check-label" for="Estate">Estado (Activo/Inactivo)</label>
                                <span asp-validation-for="Estate" class="text-danger"></span>
                            </div>
                        </div>
                        <hr class="text-danger" />
                        <div class="mb-3">
                            <div class="d-flex justify-content-around">
                                <button style="min-width:150px;" type="submit" class="btn btn-outline-info"><i class="bi bi-tags"></i> Crear</button>
                                <a style="min-width:150px;" class="btn btn-outline-dark" role="button" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Regresar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm col-md-2"></div>
    </div>
</div>