@model Ecommerce.Models.ViewModels.TransactionsViewModel


@{
    ViewData["Title"] = "Administracion de Existencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center text-info fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
</div>
<hr class="text-danger" />
<div class="container">
    <div class="row">
        <div class="col col-md-2 col-lg-2 col-xl-2"></div>
        <div class="col col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-around gap-2">
                        <h3 class="text-primary">Transacciones por producto</h3>
                        <button id="btnShowHideForm" class="btn btn-sm btn-outline-danger float-end" style="min-width:150px;" ><i class="bi bi-arrows-angle-contract"></i>&nbsp; Ocultar</button>
                        <a asp-action="Index" class="btn btn-outline-dark" style="min-width:150px;">Regresar</a>
                    </div>
                </div>
                <div id="formContainer" class="card-body">
                    <form method="post">
                        <div class="mb-3 gap-3">
                            <div class="row">
                                <div class="col-6">
                                    <label for="startDate" class="form-label">Fecha Inicial</label>
                                    <input id="startDate" name="startDate" type="date" class="form-control"/>
                                </div>
                                <div class="col-6">
                                    <label for="endDate" class="form-label">Fecha Final</label>
                                    <input id="endDate" name="endDate" type="date" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <hr class="text-danger"/>
                        <div class="mb-3">
                            <label for="productList" class="form-label">Seleccione un producto</label>
                            <select id="productList" name="productList" class="form-select">
                            </select>
                        </div>
                        <hr class="text-danger" />
                        <div class="d-flex justify-content-start mb-3 gap-3">
                            <input id="btnGenerate" type="submit" value="Generar Reporte" class="form-control btn btn-outline-info" style="width:200px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-md-2 col-lg-2 col-xl-2"></div>
    </div>
    <hr class="text-danger" />
    <div class="row">
        <div class="card bg-transparent">
            <div class="card-header">
                <div class="d-flex justify-content-start gap-4">
                    <h5>Transaciones registradas</h5>
                    <div class="bg-info bg-opacity-25 rounded rounded-3 text-center" style="min-width:160px;">
                        <strong>Desde: </strong>
                        @Model.StartDate.ToString("dd-MMM-yyyy")
                    </div>
                    <div class="bg-info bg-opacity-25 rounded rounded-3 text-center" style="min-width:160px;">
                        <strong>Hasta: </strong>
                        @Model.EndDate.ToString("dd-MMM-yyyy")
                    </div>
                    <div class="bg-info bg-opacity-25 rounded rounded-3 text-center ps-1 pe-1" style="min-width:160px;">
                        <strong>Producto: </strong>
                       @Model.Products.SerialNumber&nbsp;@Model.Products.Description
                    </div>
            </div>
                <hr class="text-danger"/>
            <div class="card-body">
                @if (Model.TransactionList != null)
                {
                    <partial name="Partials/_TransactionViewList" model="Model" />
                }
                else
                {
                    <div class="alert alert-warning bg-gradient" role="alert">
                        <span><i class="bi bi-exclamation-square fs-4"></i></span>
                        <strong class="fs-5">&nbsp;&nbsp;No hay registros para mostrar</strong>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script src="~/js/TransactionsFunctions.js"></script>
    <partial name="_ValidationScriptsPartial" />

}

